/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/

body {
  margin: 0
  font-family: 'Quasimoda', 'ヒラギノ角ゴ ProN W3','sans-serif'
  color: #fff
}
h1{
  margin: 0
}
a{
  text-decoration: none
  color: #fff
  margin: 0
}

p{
  margin: 0
}
img {
  max-width: 100%
  vertical-align: bottom
}
.font-sm {
  font-size: 14px
}
.font-md {
  font-size: 17px
}
.font-lr {
  font-size: 17px
}
.font-lg {
  font-size: 70px
}
.mb-sm {
  margin-bottom: 16px !important
}
.mb-lg {
  margin-bottom: 80px !important
}
.pb-sm {
  padding-bottom: 16px !important
}
.pb-lg {
  padding-bottom: 80px !important
}
.content-width {
  width: 90%
  margin: 0 auto
  max-width: $contentMaxWidth
}
.main-title {
  @extend .font-lg
  //このように継承しておくとmediaクエリが適用できる
  font-weight: 600
  margin-bottom: 0
  display: block
}
.sub-title {
  @extend .font-sm
}
//他のサイズでも使うので切り出しておく
.flex {
  display: flex
  flex-direction: column
}
/******************************************************************

カバー部分

******************************************************************/
#cover{
  width: 100%//スクロール監視にこれが必要
  height: 100vh//スクロール監視にこれが必要
  overflow-y: auto;
  z-index: 99
  position: relative
  scroll-snap-type: mandatory
  scroll-snap-points-y: repeat(300px)
  scroll-snap-type: y mandatory
}
.cover{
  &-content{
    width: 100%
    height: 100vh
    scroll-snap-align: center
  &__box{
      padding-top: 10%
      margin-left: 1%
    }
  }
  &__myname{
    background-color: rgba(230, 230, 250, 0.3)
    position: relative
    }
  &__work1{
    position: relative
    background-color: rgba(221, 160, 221, 0.1)

      }
  }
/******************************************************************

メイン部分

******************************************************************/

  .main{
    position: fixed
    top: 0
    width: 100%
    margin: 0 auto
    height: 100vh
    background-image: url(../images/back.jpg)
    background-repeat: no-repeat
    background-position: center
    background-size: cover

    &__content{
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      width: 100%
      height: 100vh
      }
    &__img{
      width: 100%
      height: 100%
      object-fit: contain
      }
    }
