body {
  margin: 0;
  font-family: "Kameron", "Noto Sans JP", sans-serif;
}
p {
  margin: 0;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
.font-sm,
.sub-title {
  font-size: 14px;
}
.font-md {
  font-size: 17px;
}
.font-lr {
  font-size: 17px;
}
.font-lg,
.main-title {
  font-size: 25px;
}
.mb-sm {
  margin-bottom: 16px !important;
}
.mb-lg {
  margin-bottom: 80px !important;
}
.pb-sm {
  padding-bottom: 16px !important;
}
.pb-lg {
  padding-bottom: 80px !important;
}
.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;
}
.main-title {
  font-weight: 600;
  margin-bottom: 0;
  display: block;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.cover {
  z-index: 99;
  position: relative;
  height: 100vh;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  -ms-scroll-snap-points-y: repeat(300px);
  scroll-snap-points-y: repeat(300px);
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  overflow: auto;
}
.cover-content {
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
}
.cover__myname {
  background-color: rgba(0,0,0,0.1);
}
.cover__work {
  background-color: rgba(0,0,0,0.5);
}
#main-content {
  position: fixed;
  top: 0;
  width: 100%;
  max-height: 100vh;
  background-color: #333;
}
#main-content .myprofile {
  width: 100%;
  height: 100%;
}
#main-content .myprofile__img {
  height: 100%;
  width: 100%;
}
@media (min-width: 600px) {
  .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media (min-width: 960px) {
  .font-sm {
    font-size: 16px;
  }
  .font-md {
    font-size: 19px;
  }
  .font-lr {
    font-size: 23px;
  }
  .font-lg {
    font-size: 36px;
  }
  .mb-lg {
    margin-bottom: 150px !important;
  }
  .pb-lg {
    padding-bottom: 150px !important;
  }
}
