<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="css/style.css")
  body
    #cover.cover
      .cover__myname.cover-content#target
        p MISA TSUNEMATSU
      .cover__work.cover-content
    #main-content
      .myprofile
        img(src="images/usagi.jpg", alt="背景", class="myprofile__img" id="main__img")
    script(type="text/javascript" src="js/main.js")
